@charset "UTF-8";

body{
    background-color:  hsl(216, 12%, 8%);
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
}
.star{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color:  hsla(217, 12%, 63%, 0.101);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
main{
    background-color: hsl(214, 19%, 14%);
    color:hsl(0, 0%, 100%);
    width: 350px;
    height: 340px;
    border-radius: 2rem;
    font-size: 15px;
    padding: 30px;
}
p{
    color:  hsl(216, 12%, 54%);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color:  hsla(217, 12%, 63%, 0.101);
    color:  hsl(216, 12%, 54%);
    width: 50px;
    height: 50px;
    font-size: 17px;
    border-radius: 50%;
    
}
.number:hover{
    background-color: hsl(25, 97%, 53%) ;
    color:hsl(0, 0%, 100%) ;
}
button{
    width: 100%;
    border: none;
    color: white;
    font-size: 20px;
    padding: 0.7rem;
    font-weight: 20px;
    border-radius:1rem ;
    background-color: hsl(25, 97%, 53%); 
}
button:hover{
    background-color:hsl(0, 0%, 100%);
    color:  hsl(25, 97%, 53%);
    cursor: pointer;
}
